.aside{
  .back-to-top{
    width: 80px;
    height: 80px;
    border-radius:50%;
    font-size:2.5em;
    text-align: center;
    line-height:2.2;
    color: $white;
    background: $saposute-green;
    position: fixed;
    top: 50%;
    right: 64px;
    display: none;
  }
}
