/*----------------------------------------------
 要素のCSS
---------------------------------------------*/
a{
  text-decoration: none;
  &:link{
    color: inherit;
  }
  &:hover{
    color: inherit;
    text-decoration: none;
  }
  &:visited{
    color: inherit;
  }
}

body{
  background-color: $white;
  color: $gray-lv4;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.4rem;
  position: relative;
}

button{
  @include btn-default;
  @include green-btn;
  margin-bottom:20px;
}

figure{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


html{
  box-sizing: border-box;
  font-size: 62.5%;
  *, *::before, *::after{
    box-sizing: inheritate;
  }
}

main{
  min-height: 600px;
}





.no-gutters {
  margin: 0;
  padding: 0;
}

.page__title, .eyecatch, .section__title, .section__description {
  &:hover{
  opacity: 0.8;
  }
}



.read-more{
  color: $saposute-green !important;
  margin-left:20px;
}

img.size-post-thumbnail{
  width: 200px;
  height: 165px;
}

/*投稿のテキストの直前に自動挿入されるクラス*/
.post__text{
  margin-top: 15px;
}

/*投稿の画像*/
.wp-block-image{
  margin-top: 15px;
  text-align: center;
}

/*----------------------------------------------
 アニメーション
---------------------------------------------*/
/* ホバーエフェクト -----------------------------*/ 
.anim-bigger{
  &:hover{
    @include transition;
    transform: perspective(500px) translate3d(0, -8px,50px);
  }
}

.anim-rotate{
  &:hover{
    transition: 1s;
    transform: rotateZ( 360deg ) ;
    opacity: 1;
    }
}

.anim-shake{
  &:hover{
    animation: shake .2s linear;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-3%);
  }
  
  80% {
    transform: translateX(3%);
  }

  100% {
    transform: translateX(0);
  }
}
