.footer {
  background:$gray-lv5;
  color: $white;
  height: $footer-height;
  .contact {  
    &__list{
      font-size: 2rem;
      height: 50px;
      text-align: center;
      width:50px;
    }
  }
  .privacy {
    font-size: 80%;
    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer.sticky{
  position: fixed;
  bottom: 0;
}
