.header{
  color:$saposute-green;
  
  .page__title{
    @include hover-gray;
    &--yisc{
      font-size: 2.4rem;
    }
    .saposute-name{  
      font-size: 1.2rem;
      line-height:0.4;
    }
  }

  .page__nav{
    flex-wrap: wrap;
    &__list{
      @include hover-gray;
      display: block;
      margin: 0 1.5rem .5rem 0;
    }
  }
//----- ハンバーガーメニューのボタン --------------
  .page-nav-btn, .page-nav-btn span{
    display: inline-block;
    transition: all .4s;
  }
  .page-nav-btn {
    height: 33px;
    position: relative;
    width: 36px;
    
    &.active span:nth-of-type(1) {
      transform: translateY(15px) rotate(-45deg);
      -webkit-transform: translateY(15px) rotate(-45deg);
      
    }
    &.active span:nth-of-type(2) {
      opacity: 0;
    }
    &.active span:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
      -webkit-transform: translateY(-15px) rotate(45deg);
    }
  }
  .page-nav-btn span {
    background-color: $saposute-green;
    border-radius: 3px;
    height: 3px;
    position: absolute;
      left: 0;
    width: 100%;
    
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 15px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}

//-------- タブレット以下の場合のナビゲーションボックス ------------
@media all and (max-width: 992px) {
  .page__title--yisc {
    font-size: 2rem !important;
  }
  .page__nav__box{
    display: none;
    position: absolute;
      top: 9rem;
      left: 0;
    z-index: 1;
    .page__nav{
      background: $white;
      border-bottom:$green-border-dotted; 
      color: $gray-lv4;
      
      &__list{
        display: block;
        border-top:$green-border-dotted;
        padding: 1rem 2rem;
        margin: 0;
        width: 100%;
        
        &:hover{
          background-color: $saposute-green-hue;
          color: $white;
          font-weight:900;
        }
      }
    }
  }
  .active{
    display: block;
  }
}
