/*------------------------------------------------
PICK UP
--------------------------------------------------*/ 
.pick-up__header{
  color: $saposute-green;
  font-size:$h3-size;
}
.pick-up{
  text-align: center; 
  &__list{
    font-size:1.3em;
    line-height: 2;
    &:hover{
      opacity:.8;
      font-weight: 900;
    }
    &:before{
      color: $saposute-green;
      font-family: 'font-awesome free';
      content: '>>';
      &:hover{
        font-weight: 400;
      }
    }
  }
}
/*------------------------------------------------
各ページへのリンク
--------------------------------------------------*/ 
/* 全体・共通-------------------------*/
.keyvis {
  width: 100%;
  text-align: center;
}

/* レイアウト------------------------*/

// <section></section>内にイラストがないときに共通のcss・レイアウトcss------------------------
.schedule, .aboutus, .blog, .reservation{
  min-height: 300px;
  position: relative;
  .page-info {
    @include vertical-alien-center();
  }
}

.voice {
  border: $light-gray-border;
}

.aboutus {
  background-color: $saposute-beige;
}


.schedule{
  background-image:url("img/schedule_bg.png");
  background-size:cover;
  color: $white;
  position: relative;
}


.blog{
  background-image:url("img/blog_bg.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
  position: relative;
}
