// 各ページのトップ画像 */
.foryouth {
  background-color: $saposute-aqua;
  color: $white;
}
.page-top__content{
  position: relative;
  .page-info {
    &__title{
      font-size:$h3-size;
    }
    &__description{
      font-size:$h4-size;
    }
  }
}

@media all and (min-width: 720px) {
  .page-info {
    position: absolute;
      right: 0px;
      top: 50%;
    transform: translateY(-50%);
  }
}

// 各ページのheaderが２カラムの時のcss */

.eyecatch{
  @include eyecatch;
}
   
// <section></section>内にイラストがないときに共通のcss・レイアウトcss------------------------
.schedule, .about-us, .blog, .reservation{
  .content__inner{
    @include va-center-outer;
    .section{
      @include va-center-inner;
      }
  }
}
// 個別のpageのcss・レイアウトcss */
.step{
  background-color: $saposute-green-hue;
  color: $white;
}
.voice{
  border: $light-gray-border;
}
.schedule{
  background-image:url("img/schedule_bg.png");
  background-size:cover;
  color: $white;
}
.for-parents, .about-us, .archive{
  background-color: $saposute-beige;
  .section{
    &__title, &__description{
      color: $gray-lv4;
    }
  }
}
.blog{
  background-image:url("img/blog_bg.jpg");
  background-size: cover;
  background-position: center;
  color: $white;
}
.for-youth, .reservation{
  background-color: $saposute-aqua;
  .section{
    &__title, &__description{
      color: $white;
    }
  }
}

.content{
  width: 80%;
  margin: 40px auto;
}

/* index-page------------------------------------------*/
/* top ページから各ページにリンクするタイルのレイアウト*/
/* 2カラムにする関係 */
.two-column{
  display: flex;
  padding: 32px 0;
  section:first-child{
    margin-right: 32px;
  }
}

.last-content{
  width:100%;
  section{
    width: 50% !important; //important取りたい
    margin: 0 auto;
  }
}
// それぞれのタイルの内部 */

.index-tile{
  @include va-center-outer;
  &__inner{
    @include content-inner;
    text-align: center;
    .eyecatch{
      @include eyecatch;
    }
    .section{
      &__title{
        font-size: $h3-size;
      }
      &__description{
        font-size: $h4-size;
      }
    }
  }
  // アイキャッチ画像がないときに、タイトル文字を縦横中央揃えにする */
  .no-eyecatch{
    @include va-center-inner;
  }
}
