
@mixin btn-reset{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  color: inherit;
  font-weight: normal;
  font-size:inherit;
  padding: 0;
  border: none;
  outline: 0;
}

@mixin btn-default{
  @include btn-reset;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  border-radius: 25px;
  &:hover{
    opacity: 0.8;
  }
}

@mixin hover-gray {
  &:hover{
    color: $gray-lv4;
  }
}

@mixin green-btn{
  background: $saposute-green;
  color: $white;
}

@mixin post-info{
  font-size: 0.8em;
  margin-right: 10px;
}

@mixin tags{
  color: $white;
  padding: 3px 5px;
  border-radius:3px; 
}

@mixin keyvis {
  border-radius: 50%;
  border: solid 3px $saposute-green; 
}


@mixin vertical-alien-center {
  /*親要素に position:relative が効いていること*/
  position: absolute;
    top: 50%;
  transform: translateY(-50%);
  width: 100%;
}


@mixin transition{
  transition: all 0.5s ease;
}
