// colors----------------------------
$white:#fafcfc;

$gray-lv1:#efefef;
$gray-lv2: #ccc;
$gray-lv3: #999;
$gray-lv4: #666;
$gray-lv5: #333;

$saposute-green: #61B420;
$saposute-green-hue:rgba(97, 180, 32, .6);
$saposute-beige:#F2E8D4;
$saposute-aqua:#8CC4E3;

// border ----------------------------
$green-border: solid 1px $saposute-green;
$green-border-bold: solid 3px $saposute-green;
$green-border-dotted: dotted 1px $saposute-green;

$light-gray-border: solid 1px $gray-lv1;


// font--------------------------------
$h3-size:1.8em;
$h4-size:1.2em;


// layout--------------------------------
$column-padding-vertical: 24px;
$column-padding: $column-padding-vertical 0;
$footer-height: 100px;
